{{> head}} {{> navbar}}



<div class="row">

    <div class="col-8">
<h1>Codename: Kids Next Door</h1>
<p>
Codename: Kids Next Door
KNDLogo.png
Genre	Comedy
Action/Adventure[1]
Created by	Tom Warburton
Written by	
Tom Warburton
Mo Willems (2002–2006)
Robert Leighton
Tom Eaton
Brian Meehl
Andy Rheingold (2005–2008)
Alison Wilgus
Billy Aronson
Directed by	Tom Warburton
Robert Alvarez (timing)
Voices of	
Benjamin Diskin
Lauren Tom
Dee Bradley Baker
Cree Summer
Composer(s)	Stephen Rucker
Thomas Chase Jones
Country of origin	United States
Original language(s)	English
No. of seasons	6
No. of episodes	78 (141 segments) (list of episodes)
Production
Executive producer(s)	
Tom Warburton
Steve Oakes
David Starr
Richard Winkler
Jonathan Paley
Producer(s)	Bruce Knapp
Running time	22 minutes
Production company(s)	
Curious Pictures
Cartoon Network Studios
Distributor	Cartoon Network
Warner Bros. Television Distribution
Release
Original network	Cartoon Network
Picture format	
480i
HDTV 1080i
First shown in	July 20, 2001
Original release	December 6, 2002 – January 21, 2008
External links
Website
Production website
Codename: Kids Next Door is an American animated television series created by Tom Warburton for Cartoon Network, and the 13th of the network's Cartoon Cartoons. The series centers on the adventures of five children who operate from a high-tech tree house, fighting against adult and teen villains with advanced 2×4 technology. Using their codenames (Numbuh 1, Numbuh 2, Numbuh 3, Numbuh 4, and Numbuh 5), they are Sector V, part of a global organization called the Kids Next Door.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/knd.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}